:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);
  border-radius: .5rem;
}
.appreciation {
  font-style: italic;
}

.delete {
  background: rgb(212, 71, 71);
}
